<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in Detail</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <style>
        .post {
            background-color: blanchedalmond;
            padding: 20px;
            border-radius: 10px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2>Here is your Post in detail</h2>
        <p>Post ID: <%= post.id %></p>
        <div class="card post">
            <div class="card-body">
                <h5 class="card-title">@<%= post.username %></h5>
                <p class="card-text"><%= post.content %></p>
            </div>
        </div>
</body>
</html>
